
.unselected-block{
    -fx-background-color: #135468;

}
.block{
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-background-radius: 5px;
    -fx-font-size: 20px;


}
.block:hover{
    -fx-background-color: #648495;
}
.empty-block{
    -fx-background-color: #991122;
}
.bombing-block{
    -fx-background-color: #147852;
    -fx-background-image: url("bomb.png");
    -fx-background-size: 40px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.flag-block{
    -fx-background-image: url("flag.png");
    -fx-background-size: 40px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
HBox{
    -fx-spacing: 2px;
}
VBox{
    -fx-spacing: 2px;
    -fx-border-width: 10px;
    -fx-border-color: #ed8b29;
    -fx-padding: 6px 6px 6px 6px;
    -fx-max-height: 500px;
}
